@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

body {
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    background-color: #af8888;
    font-family: 'Source Sans Pro', sans-serif;
}

.score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
}

.container {
    display: flex;
    flex-direction: column;
}

.rps-choice img {
    width: 70%;
    max-width: 200px;
    height: auto;
    border: 4px solid #a9175a;
    border-radius: 50%;
    cursor: pointer;
}

.rps-choice img:hover {
    border: 4px solid lightsalmon;
}

.players-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 250px;
}

.player,
.computer {
    width: 125px;
    text-align: center;
    font-size: 20px;
}

.score {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 250px;
}

.player-score,
.computer-score {
    border: 1px solid #a9175a;
    width: 125px;
    border-radius: 10px;
    font-size: 20px;
}

.rps-img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 50px;
    padding: 40px;
}

.rps-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 20%;
}

.choice {
    border: 4px solid #a9175a;
}

.choice--selected {
    border: 4px solid lightsalmon;
}

.choice-name {
    font-size: 20px;
}

.choice-name--selected {
    color: lightsalmon;
}

.animation {
    height: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.stone {
    display: none;
    height: 100px;
    position: relative;
}

.stone--for-player {
    display: block;
    animation-name: stoneAnimation;
    animation-duration: 1s;
    transition: all linear;
}

@keyframes stoneAnimation {
    0% {
        transform: rotate(50deg);
        left: 10px;
    }

    100% {
        transform: rotate(360deg);
        left: 280px;
    }
}

.computer-stone {
    display: none;
    height: 100px;
    position: relative;
    right: 0;
}

.computer-stone--selected {
    display: block;
    animation-name: computerStoneAnimation;
    animation-duration: 1s;
    transition: all linear;
}

@keyframes computerStoneAnimation {
    0% {
        transform: rotate(-50deg);
        left: 0px;
    }

    100% {
        transform: rotate(-360deg);
        left: -280px;
    }
}

.paper-plane {
    display: none;
    height: 100px;
    position: relative;
}

.paper-plane--for-player {
    display: block;
    animation-name: paperPlaneAnimation;
    animation-duration: 1s;
    transition: all linear;
}

@keyframes paperPlaneAnimation {
    0% {
        transform: rotate(50deg);
        left: 10px;
    }

    100% {
        left: 280px;
    }
}

.computer-paper-plane {
    display: none;
    transform: rotateY(180deg);
    height: 100px;
    position: relative;
    right: 0;
}

.computer-paper-plane--selected {
    display: block;
    animation-name: computerPaperPlaneAnimation;
    animation-duration: 1s;
    transition: all linear;
}

@keyframes computerPaperPlaneAnimation {
    0% {
        transform: rotate(-50deg) rotateY(180deg);
        left: 0px;
    }

    100% {
        transform: rotate(0deg) rotateY(180deg);
        left: -280px;
    }
}

.pair-of-scissors {
    display: none;
    height: 100px;
    position: relative;
}

.pair-of-scissors--for-player {
    display: block;
    animation-name: pairOfScissorsAnimation;
    animation-duration: 1s;
    transition: all linear;
}

@keyframes pairOfScissorsAnimation {
    0% {
        left: 10px;
    }

    100% {
        left: 280px;
    }
}

.computer-scissors {
    display: none;
    transform: rotateY(180deg);
    height: 100px;
    position: relative;
    right: 0;
}

.computer-scissors--selected {
    display: block;
    animation-name: computerScissorsAnimation;
    animation-duration: 1s;
    transition: all linear;
}

@keyframes computerScissorsAnimation {
    0% {
        left: 0px;
    }

    100% {
        left: -280px;
    }
}

.result {
    font-size: 20px;
    color: #146d64;
}

.result--selected {
    animation-name: resultAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes resultAnimation {
    from { color: #146d64; font-size: 20px; }
    to { color: gold; font-size: 50px; }
}

#user-choice-span {
    display: none;
}

#computer-choice-span {
    display: none;
}